<section class="team-section">
  <h1>Meet The Team</h1>
  <div class="cards">
    <div class="card">
      <div  id="spencer-frame" class="image-frame">
        <div id="spencer"></div>
      </div>
      <div class="card-body">
        <h4>Spencer Cheng</h4>
        <p class="card-text">Spencer is a Junior Computer Science and Real Estate Finance double major at SMU. He has taken personal interest in the blockchain space since early 2017. He is the founder and president of the SMU Blockchain Society. He also serves as a Blockchain Advisor for a startup called TravelBlock. He has been developing web applications since 2014, and is eager to expand his skillset.</p>
      </div>
    </div>
    <div class="card">
      <div id ="rick-frame"class="image-frame">
          <div id="rick"></div>
      </div>
      <div class="card-body">
        <h4>Rick Simon</h4>
        <p class="card-text">Vice President</p>
      </div>
    </div>
    <div class="card">
      <div id="josh-frame"class="image-frame">
          <div id="josh"></div>

      </div>
      <div class="card-body">
        <h4>Josh Sylvester</h4>
        <p class="card-text">Joshua Sylvester is a Junior Computer Science major at SMU. He has been involved with Blockchain since 2017 and even created a benchmark index for the cryptocurrency market, msindexco.com. After graduating undergrad Joshua plans to get his Masters at SMU in Computer Science and then pursue a career in the Blockchain industry.</p>
      </div>
    </div>
    <div class="card">
      <div id="max-frame" class="image-frame">
          <div id="max"></div>
      </div>
      <div class="card-body">
        <h4>Max Goldstein</h4>
        <p class="card-text">Max is a Junior Computer Science major here at SMU. I live in Charlotte, NC but I attended a small boarding school in northeastern Connecticut for high school. When I have free time I enjoy playing sports like ice hockey or tennis.</p>
      </div>
    </div>
    <div class="card">
      <div id="muaz-frame" class="image-frame">
          <div id="muaz"></div>
      </div>
      <div class="card-body">
        <h4>Muaz Mohammed</h4>
        <p class="card-text">Muaz is a current senior at SMU studying Computer Science with a specialization in Cyber Security. He is the secretary of Blockchain Society. Muaz’s interests are focused on the mining aspects of Blockchain. After graduation Muaz plans to get his masters in Security Engineering.</p>
      </div>
    </div>
    <div class="card">
      <div id="rob-frame"class="image-frame">
          <div id="rob">
          </div>

      </div>
      <div class="card-body">
        <h4 class="card-text">Rob Keehan</h4>
        <p class="card-text">Rob is a junior at SMU studying computer science. He is the committee organizer for the club and is helping leads talks on blockchain technology. Within blockchain, he has enjoyed programming on ethereum with solidity and learning the different approaches to creating blockchains.</p>
      </div>
    </div>
  </div>
</section>
