<div class="overlay"></div>
<div class="home">
  <div class="heading">
    <h1>SMU Blockchain Society</h1>
  </div>
  <div class="description">
    <p>SMU Blockchain Society strives to educate, train, and prepare students for future employment</p>
  </div>
</div>
<app-navbar></app-navbar>
<div class="education">
  <div id="education-paragraph" class="col-md-7">
    <h2>Education</h2>
    <p>
      The word blockchain has been used heavily in the past couple years. The SMU Blockchain Society teaches its members about
      why it became so relevant, how it is being misintrepreted, and when to use it. Understanding the use cases of blockchain
      technology is crucial information needed before deciding to build or invest in this space.

    </p>
  </div>
  <div id="education-header" class="col-md-5">
  </div>
</div>
<div class="training">
  <div id="training-header" class="col-md-5">
  </div>
  <div id="training-paragraph" class="col-md-7">
    <h2>Training</h2>
    <p>
      SMU Blockchain Society trains its members to have a broad understanding of the field. The Society focuses on two major aspects:
      Investment & Development. The Development Committee focuses on training the engineer oriented students on building decentralized
      applications and smart contracts. The Investments Committee focuses on the cryptocurrency market, hosts trading competitions, and
      analyzes chart patterns.
    </p>
  </div>
</div>
<div class="preparation">

  <div id="preparation-paragraph" class="col-md-7">
    <h2>Preparation</h2>
    <p>
      Members of the SMU Blockchain Society will be prepared
      for job recruitmentwithin their respective majors regarding
      the blockchain space. They will have been to mulitple conferences
      and be able to present what they have accomplished with tact
      during the job recruitment process.
    </p>
  </div>
  <div id="preparation-header" class="col-md-5">
  </div>
</div>
<footer class = "footer">
  <span class= "float-right">SMU Blockchain Society 2018</span>
</footer>
