<div class="overlay"></div>
<div class="home" #home>
  <div class="heading">
    <h1>SMU Blockchain Society</h1>
  </div>
  <div class="description">
    <p>SMU Blockchain Society strives to educate, train, and prepare students for future employment</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">SMU Blockchain Society</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span class="nav-item nav-link active" [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to]="home">Home <span class="sr-only">(current)</span></span>
      <span class="nav-item nav-link" [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to]="about">About</span>
      <span class="nav-item nav-link" [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to]="team">Team</span>
      <span class="nav-item nav-link" [ngx-scroll-to-duration]="ngxScrollToDuration" [ngx-scroll-to]="footer">Contact Us</span>
    </div>
  </div>
</nav>
<div #about>
  <app-about></app-about>
</div>
<section class="meetingInfo">
  <div class="row">
    <div class="col-md-6 textFrame">
      <h1 class="meetingInfoText">
        When & Where
      </h1>
    </div>
    <div class="col-md-6 frame">
      <img class="photo" src="../../../assets/images/flyer.jpeg" alt="Blockchain Society Flyer">
    </div>
  </div>
</section>
<div #team>
  <app-team></app-team>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
<footer class="footer" #footer>
  <span class="float-right">SMU Blockchain Society 2018</span>
</footer>
