/* Nav */
.navbar{
  background-color: transparent;
  position: absolute;
  top:0;
  z-index: 10;
  margin-left:2vw;
}
.nav-link,.navbar-brand{
  color:white;
}
.nav-link:hover{
  cursor: pointer;
}
 /* Landing */


.home{
  width:100vw;
  height: 100vh;
  background-image: url("../../../assets/images/landing.jpg");
  background-size: cover;
  background-position-y: 50%;
}
.overlay{
  position: absolute;
  height: 100vh;
  width:100vw;
  background-color: black;
  opacity:.35;
  z-index: 1;
}
.heading,.description{
  text-align: center;
  position: relative;
  z-index: 10;
  color:white;
  font-family: 'Roboto';
}
.heading{
  padding-top:25vh;
}
.heading h1{
  font-size:5rem;
}
.description p{
  font-size: 1.2rem;
  max-width: 40vw;
  margin: auto;
}

/* Footer */

footer{
  height: 5vh;
  background-color: grey;
  color:white;
}
footer span{
  margin-top:1vh;
  margin-right:2vw;
  font-family: 'Roboto'
}

/* Meeting Info */

.row{
  height: 100%;
}
.meetingInfo {
  border-bottom:1px solid black;
  height:70vh;
  display: inline-block;
  width:100vw;
}
.textFrame{
  height:100%;
  display: inline-block;
  padding-top:10vh;
  padding-bottom:10vh;
}
.textFrame:after{
  content: "";
  position: absolute;
  left: 50vw;
  bottom: 17.5vh;
  height: 40vh;
  width: 1vh;
  border-right: solid black 1px;
}
.meetingInfoText{
  text-align: center;
  font-family: "Fjalla One";
  font-size:5rem;
  max-width: 10vw;
  margin-left:15vw
}

.frame{
  display: inline-block;
  margin:auto;
  height:100%;
  padding-top:5vh;
  padding-bottom:5vh;
}
.photo{
  border: 15px solid #000000b0;
  padding:1vh;
  margin-left:10vw;
  margin-right:auto;
  height:90%;
}

/* clearfix */
.clearfix{
  clear:both;
}


